/* This establishes an HCI generic font name and injects the font, MrJost, in this case */
@font-face {
  font-family: "hci-font";
  src: url("assets/fonts/MrJost-Variable.ttf") format("truetype");
  font-weight: 1 1000;
  font-stretch: 1% 500%;
  font-style: normal;
}

/* these are just temporary working examples */
.hci-spinner-large {
  background-image: url("assets/loading-spinner-risr-2022.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hci-spinner-small {
  background-image: url("assets/loading-spinner-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* The following three sections introduce a new font-system */
.hci-font h1 {
  font-size: 2rem;
  font-weight: 700;
}
.hci-font h2 {
  font-size: 1.75rem;
  font-weight: 700;
}
.hci-font h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.hci-font h4 {
  font-size: 1.25rem;
  font-weight: 700;
}
.hci-font h5 {
  font-size: 1rem;
  font-weight: 700;
}
.hci-font h6 {
  font-size: 0.75rem;
  font-weight: 700;
}

/* primary font */
$hci-font-default: 16px;
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 20px;
