
hci-accordion-nav > div {
  @include themify($themes) {
    background-color: themed("sub-header-background-color");
    color: themed("sub-header-text-color");
  }

  font-weight: 600;
  margin-top: 1.5rem;
  height: 3rem;
  border-top: lightgray 2px solid;
}

hci-accordion-nav .item {
  margin-top: -1rem;
}

hci-accordion-nav .item:hover {
  margin-top: -1.25rem;
}

hci-accordion-nav .circle {
  height: 2rem;
  width: 2rem;
  border: lightgray 2px solid;
  background-color: white;
  border-radius: 2rem;
}

hci-accordion-nav .item:hover .circle {
  height: 2.5rem;
  width: 2.5rem;
}

hci-accordion-nav .active .circle {
  @include themify($themes) {
    background: themed("btn-radial-active");
  }
}
