/* App Header */

.ri-navbar-header,
.ri-navbar {
  height: 60px;
  box-shadow: none !important;
  border-radius: 0px;
  color: $bluewarmvivid-meddark !important;
  border-bottom: solid 1px $greywarm-darker;
  background-color: var(--background-by-server) !important;
}

.ri-sidenav-button,
.ri-navbar {
  border-radius: 0px 0px 0px 0px !important;
  box-shadow: none !important;

  &:enabled:active {
    color: $bluewarmvivid-lightest !important;
  }

  &:enabled:hover {
    color: $bluewarmvivid-lightest !important;
  }
}

/* Main navbar */
.ri-navbar-main,
.navbar-default {
  background: linear-gradient(0deg, $greywarm-darker 30%, $greywarm-medlighter 100%);
  border-color: #B7C5CC;
  color: $bluewarm-medlight;

  // Title
  .navbar-brand {
    color: $grey-dark;
  }

  .navbar-brand:hover,
  .navbar-brand:focus {
    background: linear-gradient(0deg, $greywarm-meddark 0%, $greywarm-meddark 30%, $greywarm-dark 100%);
    color: $bluewarmvivid-meddark;
  }

  // Link
  .navbar-nav > li  {
    border-right: 1px solid $greywarm-medium;
    min-width: 125px;
    display: flex;
    justify-content: center;
  }

  .navbar-nav > li > a {
    padding-top: 0.2rem;
    color: $bluewarm-lightest;
    font-weight: 400;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: $bluewarmvivid-darkest;
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background: linear-gradient(0deg, $greywarm-meddark 30%, $greywarm-darkest 100%);
    color: $white-lightest;
    font-weight: 500;
    min-width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-right: 0rem !important;
    justify-content: center;
    padding-top: 0.2rem;
  }

  .navbar-nav > .active > span,
  .navbar-nav > .active > span:hover,
  .navbar-nav > .active > span:focus {
    background: linear-gradient(0deg, $greywarm-meddark 30%, $greywarm-darkest 100%);;
    color: $white-lightest;
  }

  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus {
    background: $greywarm-medium;
    color: $white-lightest;
    padding-top: 8px;
    min-width: 100px;
  }

  .navbar-nav > .open > span,
  .navbar-nav > .open > span:hover,
  .navbar-nav > .open > span:focus {
    background: $greywarm-medium;
    color: $white-lightest;
    padding-top: 3px;
  }

  // Caret
  .navbar-nav > .dropdown > a .caret {
    border-top-color: $grey-dark;
    border-bottom-color: $grey-dark;
  }

  .navbar-nav > .dropdown > a:hover .caret,
  .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: $black-medlight;
    border-bottom-color: $black-medlight;
  }

  .navbar-nav > .open > a .caret,
  .navbar-nav > .open > a:hover .caret,
  .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
  }
}

// Mobile version
.ri-navbar-main,
.navbar-default {

  .navbar-toggle {
    border-color: $grey-lightest;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: $grey-lightest;
  }

  .navbar-toggle .icon-bar {
    background-color: $grey-lighter;
  }
}

@media (max-width: 767px) {
  .ri-navbar-main .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $grey-dark;

    &:hover,
    &:focus {
      color: $black-medlight;
    }
  }
}

/* Sub-navbar */
.ri-navbar-sub,
.ri-sub-navbar-default {
  background-color: $greywarm-meddark;

  .navbar-nav > li > a {
    color: $greywarm-darkest;
    background: linear-gradient(0deg, $grey-lighter 0%, $grey-lighter 30%, $white-meddark 100%);
    min-width: 100px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-right: solid 1px $white-medium;
    font-size: 12px;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: $black-medlight;
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus,
  .navbar-nav > li > a.active,
  .navbar-nav > li > a.active:hover,
  .navbar-nav > li > a.active:focus {
    background-color: $white-medium;
    color: $greywarm-darkest;
    font-weight: 700;
    min-width: 100px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(
        0deg,
        $grey-lightest 0%,
        $grey-lightest 30%,
        $grey-light 100%
    );
  }

  .navbar-nav > .active > span,
  .navbar-nav > .active > span:hover,
  .navbar-nav > .active > span:focus {
    background-color: $white-medium;
    color: $bluewarm-darker;
  }

  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus {
    background-color: $white-medium;
    color: $bluewarm-darker;
  }

  .navbar-nav > .open > span,
  .navbar-nav > .open > span:hover,
  .navbar-nav > .open > span:focus {
    background-color: $white-medium;
    color: $bluewarm-darker;
  }

  // Caret
  .navbar-nav > .dropdown > a .caret {
    border-top-color: $grey-dark;
    border-bottom-color: $grey-dark;
  }

  .navbar-nav > .dropdown > a:hover .caret,
  .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: $black-medlight;
    border-bottom-color: $black-medlight;
    background: linear-gradient(0deg, $grey-lighter 0%, $grey-lighter 30%, $white-meddark 100%);
  }

  .navbar-nav > .open > a .caret,
  .navbar-nav > .open > a:hover .caret,
  .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
  }
}
