
.study-list {
  padding: 8px 16px;
  text-align: left;
  white-space: normal;
  width: 100%;
}

.study-list:hover {
  background-color: #eee;
}

.form-inline {
  flex-wrap: nowrap;
}

.popover {
  max-width: none;
}

.top-0 .bs-popover-right {
  top: 0 !important;
}

/* To illustrate how an expanding header due to wrapping can notify the marginTop directive. */
.sub-header.navbar {
  height: auto;
}

color-picker div {
  display: block;
}

.code {
  border: #555555 2px solid;
}

.language-html {
  margin: 0 !important;
  padding: 0 !important;
  padding-right: 1rem !important;
}

hci-icon-demo .tab-content {
  background-color: white;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

hci-icon-demo .card-body {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: gray 1px solid;
}

/* To grid core theme */
#grid-container.core-default #title-bar {
  padding: 10px;
  font-weight: 500;
  font-size: x-large;
  border-bottom: black 2px solid;
}

.mat-menu-panel.prism {
  min-width: 500px;
  max-width: none;
}
