
dashboard {
  flex-grow: 1;
}

.card {
  min-width: 33.33%;
  padding: .75rem;
  border: none !important;
  flex: 1 0 100%;
}

.card-padding {
  padding: .75rem;
  border: 1px solid rgba(0,0,0,.125);
  height: 100%;
  background-color: #f8f8fc;
}

.half.card {
  min-width: 50%;
}

.full.card {
  min-width: 100%;
}

.two-third.card {
  min-width: 66.666%;
}

.min-30.card-padding {
  min-height: 30vh;
}

.min-50.card-padding {
  min-height: 50vh;
}

@media (min-width: 576px) {
  .card.one-third {
    max-width: 33.33%;
  }
  .card.half {
    max-width: 50%;
  }
  .card.two-third {
    max-width: 66.666%;
  }
}

.widget-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  margin-right: 0px;
  min-width: 100vw !important;
}

.card.widget-fullscreen {
  padding: 0;
  background-color: transparent;
  max-height: 100vh;
}
